# Pendulum Modülü

Pendulum, Python'un datetime modülüne alternatif olarak geliştirilmiş, zaman ve tarih işlemlerini daha kolay ve kullanışlı bir şekilde gerçekleştiren bir kütüphanedir. Özellikle zaman dilimi (timezone) işlemleri ve zaman farkı hesaplamalarında oldukça kullanışlıdır.

## Özellikleri:
### 1)Zaman Dilimi Yönetimi:
Kolayca farklı zaman dilimlerine göre zaman oluşturabilir ve çevrim yapabilirsiniz.
### 2)Doğal Dil Formatlama:
Tarihleri ve zamanları insan okuyabilir şekilde biçimlendirme imkânı sunar.
### 3)Zengin Fonksiyonellik:
Saat farkı hesaplama, ileri/geri tarih oluşturma gibi işlevleri içerir.
### 4)Tarihsel Doğruluk:
Yaz saati (daylight saving time) gibi durumları otomatik olarak ele alır.

## Pendulum ile Temel İşlemler
### 1. Kurulum
Pendulum kütüphanesini yüklemek için:

In [1]:
pip install pendulum

Collecting pendulum
  Downloading pendulum-3.0.0-cp39-none-win_amd64.whl (293 kB)
     -------------------------------------- 293.7/293.7 kB 1.3 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.6 in c:\users\asus\anaconda3\lib\site-packages (from pendulum) (2.8.2)
Collecting time-machine>=2.6.0
  Downloading time_machine-2.16.0-cp39-cp39-win_amd64.whl (19 kB)
Collecting tzdata>=2020.1
  Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
     -------------------------------------- 346.6/346.6 kB 2.4 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.6->pendulum) (1.16.0)
Installing collected packages: tzdata, time-machine, pendulum
Successfully installed pendulum-3.0.0 time-machine-2.16.0 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

### 2. Pendulum ile Zaman ve Tarih İşlemleri
## Örnekler:

Şu Anki Zamanı Almak

In [2]:
import pendulum

# Şu anki zamanı al
now = pendulum.now()
print(f"Şu an: {now}")

Şu an: 2024-11-19 20:16:41.806378+03:00

Belirli Bir Zaman Diliminde Zaman Oluşturmak

In [6]:
tokyo_time=pendulum.now("Asia/Tokyo")
london_time=pendulum.now("Europe/London")

print(f"Tokyo: {tokyo_time}")
print(f"Londra: {london_time}")

Tokyo: 2024-11-20 02:19:41.166874+09:00
Londra: 2024-11-19 17:19:41.166874+00:00

İki Zaman Arasındaki Farkı Hesaplamak

In [7]:
zaman_farki = tokyo_time - london_time
print(f"Saat farkı: {zaman_farki.in_hours()} saat")

Saat farkı: 0 saat

Zaman ekleme ve çıkarma

In [10]:
gelecek=pendulum.now().add(days=5)
print(f"5 gün sonra {gelecek}")

5 gün sonra 2024-11-24 20:22:04.506620+03:00

In [11]:
gecmis=pendulum.now().subtract(days=4,hours=2)
print(f"4 gün 2 saat ömce: {gecmis}")

4 gün 2 saat ömce: 2024-11-15 18:23:07.513151+03:00

İnsan okuyabilir biçimde gösterim

In [13]:
gelecek=pendulum.now().add(days=1)
print(gelecek.diff_for_humans())

in 1 day

# Pendulum'da .timezone

Pendulum, zaman dilimi işlemlerini oldukça kolaylaştırır ve .timezone ile bir Pendulum nesnesine atanmış zaman dilimini döndürebilir.

### 1. Zaman Dilimini Belirleme

In [14]:
tokyo_time=pendulum.now("Asia/Tokyo")
print(tokyo_time.timezone.name)

Asia/Tokyo

### 2. Varsayılan Zaman Dilimini Değiştirme

Pendulum’da bir zaman dilimi atanmışsa, otomatik olarak işlemler bu zaman dilimine göre yapılır:

In [17]:
pendulum.set_local_timezone("Europe/Istanbul")
istanbul_time = pendulum.now()
print(istanbul_time)
print(istanbul_time.timezone.name)  # "Europe/Istanbul"

TypeError: tzinfo argument must be None or of a tzinfo subclass, not type 'str'

In [32]:
tarih_listesi = [ '2022-12-12',
                  '2021-12-12',
                  '2023-12-12' ]
import pendulum

pendulum_liste = []

for tarih in tarih_listesi:
      tar = pendulum.parse(tarih, tz = 'Europe/Istanbul')
      pendulum_liste.append(tar)
print(pendulum_liste)

for pend_tarih in pendulum_liste:
      print(pend_tarih.in_timezone('Europe/Paris'))

[DateTime(2022, 12, 12, 0, 0, 0, tzinfo=Timezone('Europe/Istanbul')), DateTime(2021, 12, 12, 0, 0, 0, tzinfo=Timezone('Europe/Istanbul')), DateTime(2023, 12, 12, 0, 0, 0, tzinfo=Timezone('Europe/Istanbul'))]
2022-12-11 22:00:00+01:00
2021-12-11 22:00:00+01:00
2023-12-11 22:00:00+01:00

In [33]:
tarih1=pendulum_liste[0]
tarih2=pendulum_liste[2]
print(tarih1,tarih2)

2022-12-12 00:00:00+03:00 2023-12-12 00:00:00+03:00

In [34]:
fark=tarih2-tarih1
print(fark)

<Interval [2022-12-12 00:00:00+03:00 -> 2023-12-12 00:00:00+03:00]>

In [35]:
print(fark.in_hours())

8760

In [36]:
print(fark.in_days())

365

In [37]:
print(fark.in_weeks())

52

In [38]:
print(fark.in_months())

12

In [40]:
print(fark.in_minutes())

525600

In [41]:
print(fark.in_words())

1 year

In [42]:
print(fark.in_seconds())

31536000

In [44]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.49-py2.py3-none-any.whl (101 kB)
     ------------------------------------ 101.1/101.1 kB 966.2 kB/s eta 0:00:00
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\asus\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Collecting peewee>=3.16.2
  Downloading peewee-3.17.8.tar.gz (948 kB)
     -------------------------------------- 948.2/948.2 kB 3.2 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting pytz>=2022.5
  Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.4.6-cp39-cp39-win_amd64.whl (37 kB)
Requirement already satisfied: requests>=2.31 in c:\users\asus\anaconda3\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: lxml>=4.9.1 in c:\users\asus\anaconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\asus\anaconda3\lib\site-packages (from yfinance) (2.5.2)
Collecting html5lib>=1.1
  Using cached html5lib-1.1-py2.py3-none-any.whl (112 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\asus\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\asus\anaconda3\lib\site-packages (from yfinance) (1.21.5)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: soupsieve>1.2 in c:\users\asus\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.1)
Requirement already satisfied: webencodings in c:\users\asus\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\asus\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\asus\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asus\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2022.9.24)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\asus\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.22)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asus\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.6)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.17.8-py3-none-any.whl size=139013 sha256=19e3ffd7381535d7722bb54c4ef7544717abbd884cef913403f995e11211c7ec
  Stored in directory: c:\users\asus\appdata\local\pip\cache\wheels\06\b3\7f\ed42a7c83ad89f578928833f5789212c694a015b8bd6a407a1
Successfully built peewee
Installing collected packages: pytz, peewee, multitasking, html5lib, frozendict, yfinance
  Attempting uninstall: pytz
    Found existing installation: pytz 2022.1
    Uninstalling pytz-2022.1:
      Successfully uninstalled pytz-2022.1
Successfully installed frozendict-2.4.6 html5lib-1.1 multitasking-0.0.11 peewee-3.17.8 pytz-2024.2 yfinance-0.2.49
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda-repo-cli 1.0.20 requires clyent==1.2.1, but you have clyent 1.2.2 which is incompatible.
conda-repo-cli 1.0.20 requires nbformat==5.4.0, but you have nbformat 5.5.0 which is incompatible.
conda-repo-cli 1.0.20 requires requests==2.28.1, but you have requests 2.32.3 which is incompatible.
anaconda-client 1.11.0 requires urllib3>=1.26.4, but you have urllib3 1.22 which is incompatible.

# Pandas ile Tarih işlemleri

In [1]:
import yfinance as yf


# Tesla'nın simgesi (ticker) 'TSLA'
tesla = yf.Ticker("TSLA")

# Verileri belirli bir tarih aralığında çekme (örn: 2023 yılı)
data = tesla.history(period="1y")  # Son bir yılın verileri

# CSV olarak kaydetme
data.to_csv("tesla_data.csv")

print("Tesla verileri CSV dosyası olarak kaydedildi.")

Tesla verileri CSV dosyası olarak kaydedildi.

In [2]:
import pandas as pd
tesla=pd.read_csv("tesla_data.csv")

In [3]:
tesla.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-11-20 00:00:00-05:00,234.039993,237.100006,231.020004,235.600006,116320100,0.0,0.0
1,2023-11-21 00:00:00-05:00,235.039993,243.619995,233.339996,241.199997,122288000,0.0,0.0
2,2023-11-22 00:00:00-05:00,242.039993,244.009995,231.399994,234.210007,117950600,0.0,0.0
3,2023-11-24 00:00:00-05:00,233.750000,238.750000,232.330002,235.449997,65125200,0.0,0.0
4,2023-11-27 00:00:00-05:00,236.889999,238.330002,232.100006,236.080002,112031800,0.0,0.0

In [4]:
tesla.index=tesla['Date']
tesla.index.name='Date'
tesla.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2023-11-20 00:00:00-05:00,2023-11-20 00:00:00-05:00,234.039993,237.100006,231.020004,235.600006,116320100,0.0,0.0
2023-11-21 00:00:00-05:00,2023-11-21 00:00:00-05:00,235.039993,243.619995,233.339996,241.199997,122288000,0.0,0.0
2023-11-22 00:00:00-05:00,2023-11-22 00:00:00-05:00,242.039993,244.009995,231.399994,234.210007,117950600,0.0,0.0
2023-11-24 00:00:00-05:00,2023-11-24 00:00:00-05:00,233.750000,238.750000,232.330002,235.449997,65125200,0.0,0.0
2023-11-27 00:00:00-05:00,2023-11-27 00:00:00-05:00,236.889999,238.330002,232.100006,236.080002,112031800,0.0,0.0

In [5]:
tesla.drop('Date',axis=1,inplace=True)
tesla.head(5)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-11-20 00:00:00-05:00,234.039993,237.100006,231.020004,235.600006,116320100,0.0,0.0
2023-11-21 00:00:00-05:00,235.039993,243.619995,233.339996,241.199997,122288000,0.0,0.0
2023-11-22 00:00:00-05:00,242.039993,244.009995,231.399994,234.210007,117950600,0.0,0.0
2023-11-24 00:00:00-05:00,233.750000,238.750000,232.330002,235.449997,65125200,0.0,0.0
2023-11-27 00:00:00-05:00,236.889999,238.330002,232.100006,236.080002,112031800,0.0,0.0

In [6]:
tesla=pd.read_csv("tesla_data.csv",index_col='Date',parse_dates=True)
tesla.info()

<class 'pandas.core.frame.DataFrame'>
Index: 252 entries, 2023-11-20 00:00:00-05:00 to 2024-11-19 00:00:00-05:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          252 non-null    float64
 1   High          252 non-null    float64
 2   Low           252 non-null    float64
 3   Close         252 non-null    float64
 4   Volume        252 non-null    int64
 5   Dividends     252 non-null    float64
 6   Stock Splits  252 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 15.8+ KB

In [7]:
tesla.index

Index([2023-11-20 00:00:00-05:00, 2023-11-21 00:00:00-05:00,
       2023-11-22 00:00:00-05:00, 2023-11-24 00:00:00-05:00,
       2023-11-27 00:00:00-05:00, 2023-11-28 00:00:00-05:00,
       2023-11-29 00:00:00-05:00, 2023-11-30 00:00:00-05:00,
       2023-12-01 00:00:00-05:00, 2023-12-04 00:00:00-05:00,
       ...
       2024-11-06 00:00:00-05:00, 2024-11-07 00:00:00-05:00,
       2024-11-08 00:00:00-05:00, 2024-11-11 00:00:00-05:00,
       2024-11-12 00:00:00-05:00, 2024-11-13 00:00:00-05:00,
       2024-11-14 00:00:00-05:00, 2024-11-15 00:00:00-05:00,
       2024-11-18 00:00:00-05:00, 2024-11-19 00:00:00-05:00],
      dtype='object', name='Date', length=252)

In [8]:
try:
    row = data.loc['2024-10-18']  # YYYY-MM-DD formatı
    print(row)
except KeyError:
    print("Veri çerçevesinde belirtilen tarih yok.")

Open            2.207100e+02
High            2.222800e+02
Low             2.192300e+02
Close           2.207000e+02
Volume          4.961190e+07
Dividends       0.000000e+00
Stock Splits    0.000000e+00
Name: 2024-10-18 00:00:00-04:00, dtype: float64

In [9]:
tesla = yf.Ticker("TSLA")
data = tesla.history(period="5y")  # 5 yıl geriye kadar olan veriler

# Dizini kontrol edin
print(data.index)

DatetimeIndex(['2019-11-20 00:00:00-05:00', '2019-11-21 00:00:00-05:00',
               '2019-11-22 00:00:00-05:00', '2019-11-25 00:00:00-05:00',
               '2019-11-26 00:00:00-05:00', '2019-11-27 00:00:00-05:00',
               '2019-11-29 00:00:00-05:00', '2019-12-02 00:00:00-05:00',
               '2019-12-03 00:00:00-05:00', '2019-12-04 00:00:00-05:00',
               ...
               '2024-11-06 00:00:00-05:00', '2024-11-07 00:00:00-05:00',
               '2024-11-08 00:00:00-05:00', '2024-11-11 00:00:00-05:00',
               '2024-11-12 00:00:00-05:00', '2024-11-13 00:00:00-05:00',
               '2024-11-14 00:00:00-05:00', '2024-11-15 00:00:00-05:00',
               '2024-11-18 00:00:00-05:00', '2024-11-19 00:00:00-05:00'],
              dtype='datetime64[ns, America/New_York]', name='Date', length=1258, freq=None)

In [10]:
import pandas as pd

# Tarih sütununu dizin olarak ayarla
data.index = pd.to_datetime(data.index)

# Formatı kontrol et
print(data.index)

DatetimeIndex(['2019-11-20 00:00:00-05:00', '2019-11-21 00:00:00-05:00',
               '2019-11-22 00:00:00-05:00', '2019-11-25 00:00:00-05:00',
               '2019-11-26 00:00:00-05:00', '2019-11-27 00:00:00-05:00',
               '2019-11-29 00:00:00-05:00', '2019-12-02 00:00:00-05:00',
               '2019-12-03 00:00:00-05:00', '2019-12-04 00:00:00-05:00',
               ...
               '2024-11-06 00:00:00-05:00', '2024-11-07 00:00:00-05:00',
               '2024-11-08 00:00:00-05:00', '2024-11-11 00:00:00-05:00',
               '2024-11-12 00:00:00-05:00', '2024-11-13 00:00:00-05:00',
               '2024-11-14 00:00:00-05:00', '2024-11-15 00:00:00-05:00',
               '2024-11-18 00:00:00-05:00', '2024-11-19 00:00:00-05:00'],
              dtype='datetime64[ns, America/New_York]', name='Date', length=1258, freq=None)

In [11]:
# Standart tarih formatında sorgulama
row = data.loc['2024-11-18']  # YYYY-MM-DD
print(row)

Open            3.407300e+02
High            3.485500e+02
Low             3.300100e+02
Close           3.387400e+02
Volume          1.265475e+08
Dividends       0.000000e+00
Stock Splits    0.000000e+00
Name: 2024-11-18 00:00:00-05:00, dtype: float64

In [12]:
data.loc['2024-11']

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-11-01 00:00:00-04:00,252.039993,254.000000,246.630005,248.979996,57544800,0.0,0.0
2024-11-04 00:00:00-05:00,244.559998,248.899994,238.880005,242.839996,68802400,0.0,0.0
2024-11-05 00:00:00-05:00,247.339996,255.279999,246.210007,251.440002,69282500,0.0,0.0
2024-11-06 00:00:00-05:00,284.670013,289.589996,275.619995,288.529999,165228700,0.0,0.0
2024-11-07 00:00:00-05:00,288.890015,299.750000,285.519989,296.910004,117309200,0.0,0.0
2024-11-08 00:00:00-05:00,299.140015,328.709991,297.660004,321.220001,204782800,0.0,0.0
2024-11-11 00:00:00-05:00,346.299988,358.640015,336.000000,350.000000,210521600,0.0,0.0
2024-11-12 00:00:00-05:00,342.739990,345.839996,323.309998,328.489990,155726000,0.0,0.0
2024-11-13 00:00:00-05:00,335.850006,344.600006,322.500000,330.239990,125405600,0.0,0.0
2024-11-14 00:00:00-05:00,327.690002,329.980011,310.369995,311.179993,120726100,0.0,0.0
2024-11-15 00:00:00-05:00,310.570007,324.679993,309.220001,320.720001,114440300,0.0,0.0
2024-11-18 00:00:00-05:00,340.730011,348.549988,330.010010,338.739990,126547500,0.0,0.0
2024-11-19 00:00:00-05:00,335.760010,347.380005,332.750000,346.000000,88563400,0.0,0.0

In [13]:
data.loc['2024']

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-01-02 00:00:00-05:00,250.080002,251.250000,244.410004,248.419998,104654200,0.0,0.0
2024-01-03 00:00:00-05:00,244.979996,245.679993,236.320007,238.449997,121082600,0.0,0.0
2024-01-04 00:00:00-05:00,239.250000,242.699997,237.729996,237.929993,102629300,0.0,0.0
2024-01-05 00:00:00-05:00,236.860001,240.119995,234.899994,237.490005,92379400,0.0,0.0
2024-01-08 00:00:00-05:00,236.139999,241.250000,235.300003,240.449997,85166600,0.0,0.0
...,...,...,...,...,...,...,...
2024-11-13 00:00:00-05:00,335.850006,344.600006,322.500000,330.239990,125405600,0.0,0.0
2024-11-14 00:00:00-05:00,327.690002,329.980011,310.369995,311.179993,120726100,0.0,0.0
2024-11-15 00:00:00-05:00,310.570007,324.679993,309.220001,320.720001,114440300,0.0,0.0
2024-11-18 00:00:00-05:00,340.730011,348.549988,330.010010,338.739990,126547500,0.0,0.0
2024-11-19 00:00:00-05:00,335.760010,347.380005,332.750000,346.000000,88563400,0.0,0.0

In [14]:
data.loc['2024-10-10':'2024-11-11']

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-10-10 00:00:00-04:00,241.809998,242.789993,232.339996,238.770004,83087100,0.0,0.0
2024-10-11 00:00:00-04:00,220.130005,223.339996,214.380005,217.800003,142628900,0.0,0.0
2024-10-14 00:00:00-04:00,220.130005,221.910004,213.740005,219.160004,86291900,0.0,0.0
2024-10-15 00:00:00-04:00,220.009995,224.259995,217.119995,219.570007,62988800,0.0,0.0
2024-10-16 00:00:00-04:00,221.399994,222.820007,218.929993,221.330002,49632800,0.0,0.0
2024-10-17 00:00:00-04:00,221.589996,222.080002,217.899994,220.889999,50791800,0.0,0.0
2024-10-18 00:00:00-04:00,220.710007,222.279999,219.229996,220.699997,49611900,0.0,0.0
2024-10-21 00:00:00-04:00,218.899994,220.479996,215.729996,218.850006,47329000,0.0,0.0
2024-10-22 00:00:00-04:00,217.309998,218.220001,215.259995,217.970001,43268700,0.0,0.0
2024-10-23 00:00:00-04:00,217.130005,218.720001,212.110001,213.649994,80938900,0.0,0.0
2024-10-24 00:00:00-04:00,244.679993,262.119995,242.649994,260.480011,204491900,0.0,0.0
2024-10-25 00:00:00-04:00,256.010010,269.489990,255.320007,269.190002,161611900,0.0,0.0
2024-10-28 00:00:00-04:00,270.000000,273.540009,262.239990,262.510010,107653600,0.0,0.0
2024-10-29 00:00:00-04:00,264.510010,264.980011,255.509995,259.519989,80521800,0.0,0.0
2024-10-30 00:00:00-04:00,258.040009,263.350006,255.820007,257.549988,53993600,0.0,0.0
2024-10-31 00:00:00-04:00,257.989990,259.750000,249.250000,249.850006,66575300,0.0,0.0
2024-11-01 00:00:00-04:00,252.039993,254.000000,246.630005,248.979996,57544800,0.0,0.0
2024-11-04 00:00:00-05:00,244.559998,248.899994,238.880005,242.839996,68802400,0.0,0.0
2024-11-05 00:00:00-05:00,247.339996,255.279999,246.210007,251.440002,69282500,0.0,0.0
2024-11-06 00:00:00-05:00,284.670013,289.589996,275.619995,288.529999,165228700,0.0,0.0
2024-11-07 00:00:00-05:00,288.890015,299.750000,285.519989,296.910004,117309200,0.0,0.0
2024-11-08 00:00:00-05:00,299.140015,328.709991,297.660004,321.220001,204782800,0.0,0.0
2024-11-11 00:00:00-05:00,346.299988,358.640015,336.000000,350.000000,210521600,0.0,0.0

In [15]:
tesla_haftalik=data.resample('W').mean()
tesla_haftalik.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-11-24 00:00:00-05:00,23.437112,23.623111,22.968222,23.113111,148528500.0,0.0,0.0
2019-12-01 00:00:00-05:00,22.363667,22.421000,21.960500,22.108167,106155375.0,0.0,0.0
2019-12-08 00:00:00-05:00,22.234666,22.472400,22.076667,22.271467,88554600.0,0.0,0.0
2019-12-15 00:00:00-05:00,23.258667,23.737600,23.111334,23.455200,117252000.0,0.0,0.0
2019-12-22 00:00:00-05:00,25.730400,26.455733,25.542266,26.176933,220955400.0,0.0,0.0

sayfa 14 de kaldım

In [21]:
tesla_yillik=data['Close'].resample('A').mean()
tesla_yillik.head()
#yıllık ortalama veriler

Date
2019-12-31 00:00:00-05:00     24.519452
2020-12-31 00:00:00-05:00     96.665689
2021-12-31 00:00:00-05:00    259.998162
2022-12-31 00:00:00-05:00    263.093081
2023-12-31 00:00:00-05:00    217.475240
Freq: A-DEC, Name: Close, dtype: float64

Zaman serileri ile birlikte çeşitli istatistiksel hesaplamalar yapılabilir!

std(), max(), min(), sum() gibi farklı metodlar ile birlikte kullanılabilirler.

# .resample() metodu ile kullanılabilen argümanlar

### 'A' veya 'Y': 
Yıllık (Year end frequency)
### 'M': 
Aylık (Month end frequency)
### 'W':
Haftalık (Week ending frequency)
### 'D': 
Günlük (Day frequency)
### 'B': 
İş günü (Business day frequency)
### 'H': 
Saatlik (Hourly frequency)
### 'T' veya 'min': 
Dakikalık (Minute frequency)
### 'S': 
Saniyelik (Second frequency)
### 'L' veya 'ms':
Milisaniyelik (Millisecond frequency)
### 'U' veya 'us': 
Mikro saniyelik (Microsecond frequency)
### 'N': 
Nanodakika (Nanosecond frequency)

In [22]:
tesla_ikihaftalik=data['Close'].resample('2W').mean()
tesla_ikihaftalik.head()

Date
2019-11-24 00:00:00-05:00    23.113111
2019-12-08 00:00:00-05:00    22.198889
2019-12-22 00:00:00-05:00    24.816067
2020-01-05 00:00:00-05:00    28.434083
2020-01-19 00:00:00-05:00    33.183333
Freq: 2W-SUN, Name: Close, dtype: float64

# .Rolling() metodu

Pandas kütüphanesindeki .rolling() metodu, zaman serisi verilerine hareketli pencere (rolling window) fonksiyonları uygulamak için kullanılır. Hareketli pencere, verilerin belirli bir penceresinde (örneğin, son 5 gün veya son 10 veri noktası) bir hesaplama yaparak zaman serisinin her bir noktasına ilişkin bir değer hesaplamanızı sağlar.

## .rolling() Metodunun Kullanımı

rolling() metodu, belirli bir pencere boyutuna göre kaydırmalı (rolling) hesaplamalar yapmanıza olanak tanır. Bu pencere bir zaman aralığı veya sabit bir sayıda veri noktası olabilir. Ardından, bu pencere üzerinde çeşitli agregat fonksiyonlar uygulanabilir (örneğin, ortalama, toplam, maksimum).

df.rolling(window=<pencere_boyutu>)

window: Pencere boyutunu belirtir. Bu sayı, pencerede kaç veri noktasının yer alacağını belirler.

# rolling() ile Yaygın Kullanımlar:
### Ortalama (Moving Average): 
Zaman serisi verilerinde ortalama almak için kullanılır. Örneğin, 7 günlük hareketli ortalama:

In [23]:
tesla_7gün=data['Open'].rolling(window=7).mean()
print(tesla_7gün)

Date
2019-11-20 00:00:00-05:00           NaN
2019-11-21 00:00:00-05:00           NaN
2019-11-22 00:00:00-05:00           NaN
2019-11-25 00:00:00-05:00           NaN
2019-11-26 00:00:00-05:00           NaN
                                ...
2024-11-13 00:00:00-05:00    306.418575
2024-11-14 00:00:00-05:00    317.897147
2024-11-15 00:00:00-05:00    321.597146
2024-11-18 00:00:00-05:00    329.002860
2024-11-19 00:00:00-05:00    334.234288
Name: Open, Length: 1258, dtype: float64

### Toplam (Moving Sum): 
Her pencere içindeki elemanların toplamını hesaplamak için:

In [24]:
tesla_7güntoplam=data['Open'].rolling(window=7).sum()
print(tesla_7güntoplam)

Date
2019-11-20 00:00:00-05:00            NaN
2019-11-21 00:00:00-05:00            NaN
2019-11-22 00:00:00-05:00            NaN
2019-11-25 00:00:00-05:00            NaN
2019-11-26 00:00:00-05:00            NaN
                                ...
2024-11-13 00:00:00-05:00    2144.930023
2024-11-14 00:00:00-05:00    2225.280029
2024-11-15 00:00:00-05:00    2251.180023
2024-11-18 00:00:00-05:00    2303.020020
2024-11-19 00:00:00-05:00    2339.640015
Name: Open, Length: 1258, dtype: float64

### Standart Sapma (Moving Standard Deviation):
Hareketli pencere içindeki standart sapmayı hesaplamak için:

In [25]:
tesla_7günstandartsapma=data['Open'].rolling(window=7).std()
print(tesla_7günstandartsapma)

Date
2019-11-20 00:00:00-05:00          NaN
2019-11-21 00:00:00-05:00          NaN
2019-11-22 00:00:00-05:00          NaN
2019-11-25 00:00:00-05:00          NaN
2019-11-26 00:00:00-05:00          NaN
                               ...
2024-11-13 00:00:00-05:00    36.741184
2024-11-14 00:00:00-05:00    26.265883
2024-11-15 00:00:00-05:00    22.335301
2024-11-18 00:00:00-05:00    17.821298
2024-11-19 00:00:00-05:00    12.026961
Name: Open, Length: 1258, dtype: float64

In [26]:
#Örneğin 12 günlük hareketli verilerin ortalamaları için
tesla_12gün=data['Open'].rolling(window=12).mean()
print(tesla_12gün)

Date
2019-11-20 00:00:00-05:00           NaN
2019-11-21 00:00:00-05:00           NaN
2019-11-22 00:00:00-05:00           NaN
2019-11-25 00:00:00-05:00           NaN
2019-11-26 00:00:00-05:00           NaN
                                ...
2024-11-13 00:00:00-05:00    285.172502
2024-11-14 00:00:00-05:00    290.437501
2024-11-15 00:00:00-05:00    294.815001
2024-11-18 00:00:00-05:00    301.710003
2024-11-19 00:00:00-05:00    308.686671
Name: Open, Length: 1258, dtype: float64

Resample ve rolling metodları zincirleme olarak kullanılabilir. Örneğin tesla kapanış verilerinin 5 haftalık ortalamalarını bulalım. Önce .resample() ile haftalık veriler hesaplanır sonra rolling ile 5 haftalık hareketli verilerin ortalamaları bulunabilir.

In [30]:
tesla_5w_hareketli = data['Close'].resample('W').mean().rolling(window=5).mean()
print(tesla_5w_hareketli)

Date
2019-11-24 00:00:00-05:00           NaN
2019-12-01 00:00:00-05:00           NaN
2019-12-08 00:00:00-05:00           NaN
2019-12-15 00:00:00-05:00           NaN
2019-12-22 00:00:00-05:00     23.424976
                                ...
2024-10-27 00:00:00-04:00    240.004801
2024-11-03 00:00:00-04:00    240.102401
2024-11-10 00:00:00-05:00    245.763601
2024-11-17 00:00:00-05:00    264.070800
2024-11-24 00:00:00-05:00    288.478798
Freq: W-SUN, Name: Close, Length: 262, dtype: float64